.garchig1 {
    background-color: aquamarine;
    color: blueviolet;
}
.char1 {
    color: blueviolet;
    background-color: aquamarine;
}
.mv {
    color:blueviolet;
}
.ReadMore {
    color: blueviolet;
}